$color-primary: #ffffff;
$color-secondary: #0c0c0c;
$color-accent: #ffd700;

$color-grey-1: #d9d9d9;

$color-background: #0c0c0c;

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Signika', sans-serif;

$color-red: #f70132;

//FONT-SIZE
$default-font-size: 1.6rem;
