.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    position: relative;
    font-size: 1.8rem;
    color: $color-accent;
    transition: all 0.2s;
    overflow: hidden;

    //Change for the <button> element
    border: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      border-radius: 3rem;
      background-color: $color-accent;
      z-index: -1;
      display: block;
      transition: transform 0.2s ease;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }

    @include respond('phone') {
      font-size: 1.4rem;
      padding: 1rem 2rem;
    }
  }
}

.btn-primary {
  background-color: $color-accent;
  color: $color-secondary !important;
  padding: 1rem 5rem !important;
  border-radius: 3rem;
  font-size: 2.5rem !important;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-outline {
  border: 1.5px solid $color-accent !important;
  background-color: transparent;
  border-radius: 5rem;

  &:hover {
    color: $color-secondary;
  }
}
