@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

body {
  font-family: $primary-font;
  font-weight: 400;
  /* font-size: 16px;*/
  line-height: 1.7;
  color: $color-primary;
}

.heading-primary {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 12rem;
  line-height: 1.4em;
  font-size: clamp(6rem, 12vw + 1rem, 12rem);
}

.tagline-heading {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 4rem;
  text-transform: uppercase;

  &.sm {
    font-size: 2.8rem;
  }

  @include respond(phone) {
    font-size: 3rem;

    &.sm {
      font-size: 2rem;
    }
  }
}

.heading-secondary {
  font-family: $secondary-font;
  font-weight: 500;
  font-size: 6rem;
  text-transform: uppercase;

  @include respond(sm-phone) {
    font-size: 4.5rem;
  }
}

.heading-tertiary {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.block-heading {
  border-bottom: 1.5px solid $color-primary;
  margin-bottom: 1rem;
}

.paragraph {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 2rem;
  line-height: 170%;
}

.accent-color {
  color: $color-accent;
}

a {
  text-decoration: none;
}

.small-menu {
  font-weight: 400;
  font-size: 2rem;
  color: $color-primary;
  position: relative;
  display: inline-block;
  padding: 0.3rem;

  span {
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 60%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: $color-accent;
    // z-index: -1;
    display: block;
    transition: transform 0.3s ease;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}
