@import '/sass/abstracts/variables';
@import '/sass/abstracts/mixins';

.artist {
  border: 1.5px solid $color-accent;
  display: flex;
  align-items: center;

  &.small {
    padding: 1.5rem 3rem;
    // margin-top: 3rem;
    // margin-right: 3rem;
    border-radius: 3rem;

    &:hover {
      background-color: $color-accent;

      h3 {
        color: $color-secondary !important;
      }
    }

    @include respond(tab-port) {
      padding: 1rem 2rem;
      // margin-top: 2rem;
      // margin-right: 2rem;
      border-radius: 2rem;
    }

    figure {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 2rem;

      @include respond(tab-port) {
        height: 8rem;
        width: 8rem;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    h3 {
      font-weight: 400;
      font-size: 6rem;
      color: $color-primary;

      @include respond(tab-port) {
        font-size: 4rem;
      }
    }
  }
}

.artists_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  @include respond(tab-port) {
    gap: 1.5rem;
  }

  li {
    list-style: none;
    flex: 1;
  }
}
